
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Nova+Square);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(menu.css);    
@import url(footer.css); 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Nova Square', cursive;
    background-image: linear-gradient(to right, rgb(28, 28, 42) , rgb(34, 34, 34));
    /* background-image: linear-gradient(to right, rgb(51, 51, 51) , rgb(34, 34, 34)); */
    /* background-color: rgb(65, 65, 65); */
    color: white;
}

.guitarra{
    /* background-image: url(../imagenes/Partitura.png); */
    height: 60vh;
    overflow: hidden;
    
}

header {
    font-family: 'Nova Square', cursive;
    width: 100%;
    height: 60px;
    background-color: rgba(51, 51, 51, 0.6);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
}

.capa-blur {

    -webkit-backdrop-filter: blur(0.3rem);
    backdrop-filter: blur(0.3rem);
}

section {
    font-family: 'Nova Square', cursive;
    width: 100%;
    margin-bottom: 25px;
}

.cuerpo-principal {
    margin-top: 7em;
    margin-left: 2em;
}
#presentacion {   
    background-image: url(../imagenes/guitarra-header.jpg);
    width: 100%;
    height: 100vh;
    margin: 3.7em auto;
    padding: 1.875em;
    background-size:cover;
    background-position:center;
    color: #fff;
    text-shadow: 5px 5px 5px black;
}

.titulo {
    float: left;
    font-size: 25px;
    margin-top: 12px;
    font-weight: bolder;
}

header img {
    float: left;
    width: 40px;
    height: auto;
    margin: 7px;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}

header .contenedor {
    display: table; 
}

#presentacion h2 {
    font-size: 1.25em;
    text-align: left;
    margin-top: -12px;
}

#presentacion h3 {
    font-size: 3em;
    text-align: center;
    margin-top: 12px
}

#presentacion p {
    text-align: right;
    padding-top: 80px;
}

.modalidad {
    margin-left: .5em;
    margin-right: .5em;
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    background: #000000;
    padding-top: 5em;
    padding-bottom: 5em;
    border: 3px solid ;
    border-radius: 3px;
    background-image: linear-gradient(to right, rgb(28, 28, 42) , rgb(34, 34, 34));
    
}

.cajita{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cajas{
    width: 50%;
    /* margin-left: 5px; */
}

.modalidad h2 {
    font-size: 2em;
    margin-bottom: 2em;
    text-align: center;
}

.contenedor {
    width: 98%;
    margin: auto;
    /* background-color: rgba(39, 39, 39, 0.3);
    color: whitesmoke;
    border-radius: 20px; */
    text-shadow: 5px 5px 5px black;
}

.contenedor-bio img {
    max-width: 30%;
    height: auto;
    float: left;
    margin: 0.9375em;
    border: 2px solid;
    border-radius: 3px;
}

.contenedor-bio p {
    text-align: justify;
    padding: 0 1.8em;
}

.section-gris{
    background-image: linear-gradient(to right, rgb(236, 207, 109) , rgb(83, 63, 6));
    /* background-color: rgb(231, 202, 121); */
    /* display: grid; */
    /* grid-template-rows: 1fr 20fr; */
    
}

.separador1{
    height: 2.5rem;
}

.titulo-seccion{
    display: block;
    text-align: center;
    font-size: 3rem;
    padding: 0.7rem;
    border-top: 0.5rem solid black;
    border-bottom: 0.5rem solid black;
    color: black;
}

.div-metodologia {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr;  */
    /* align-content: space-around; */
}    

.cajas-imagenes {
    margin: 2em 0.2em 0 0.2em;
    background-color: rgb(0, 0, 0);
    border: 3px solid black;
    border-radius: 4px;
    padding: 1em;
    color: white;
    width: 33%;
    height: 280px;
    margin: 10px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    flex: 25%;
}

/* ------- */

.cajas-imagenes:hover{
    cursor: pointer;
}

.imagen-chica {
    width: 100%;
    height: auto;
    border-radius: 3px;
}


.intro{
    height: 270px;
    width: 100%;
    padding: 6px;
    position: relative;
    bottom: 30px;
    background: rgba(20, 20, 20, 0.8);
    border-radius: 3px;
    text-shadow: 5px 5px 5px black;
    color: white;
    
}

.titulo-imagen-chica {
    margin: 10px;
    font-size: 20px;
}

.parrafo-imagen-chica {
    font-size: 10px;
    margin: 20px;
    visibility: hidden;
    opacity: 100;
}

.cajas-imagenes:hover .intro {
    width: 100%;
    height: 400px;
    bottom: 130px;
    background: black;
}

.cajas-imagenes:hover p{
    opacity: 1;
    visibility: visible;
}

.tecnicas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #fff;
    text-align: center;
    padding: 2px;
    overflow: hidden;
    margin: 20px;
}


/* 
.tecnicas figure{
    padding: 10px;
    overflow: hidden;
} */

.cont-img-tecnicas{
    width: 160px;
    height: 160px;
    overflow: hidden;
    margin: 20px;
    border: 2px solid rgb(197, 162, 5);
    border-radius: 50%;
    box-shadow:  5px 5px 20px black;

}

.img-tecnicas {
    width: 100%;
    height: 100%;
    /* padding: 6px; */
    transition: 0.8s;
    object-fit: cover;
}

.tecnicas p {
    opacity: 0;
    transition: 1.8s;
    margin-top: -100px;
    color: #fff;
    font-size: 1.4em;
    user-select: none;
}

.img-tecnicas:hover {
    opacity: 40%;
    transform: scale(1.2);
}

.img-tecnicas:hover + p {
    opacity: 100%;  
}

.img-tecnicas:hover + p {
    opacity: 100%;  
}
    
    
.dh{
    width: 200px;
    height: 150px;
    overflow: hidden;
    margin: 20px;
}

.modalidad ul {
    padding: 1.80em;
    list-style: none;
}

.modalidad li {
    max-width: 18em;
    margin: 0.4em auto 0.4em auto;
    padding: 0.5em;
    border: 2px solid red;
    border-radius: 0.5em;
    align-items: center;
    text-align: left;
}

.modalidad li{
    background: rgb(51, 51, 51);
}

.modalidad li:hover{
    background: rgba(230, 230, 230, 0.4);
    color: white;
    transform: scale(1.02);
}

.modalidad a {
    text-decoration: none;
    color: #f3e635;
    cursor: pointer;
}

.yt-icon{
    color: white;
}

iframe {
    width: 360px;
    height: 203px;
    overflow: hidden;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow:  1px 1px 8px rgb(255, 255, 255);
}

.icono-wapp {
    float: right;
    position: sticky;
    top: 88vh;
    z-index: 100;
    animation: mianimacion 10s infinite alternate;
    animation-timing-function: ease-in-out;
}

#wapp {
    height: 48px;
    width: 48px;
    margin-right: 1em;
}  

#wapp:hover {
    transform: scale(1.2);
    cursor: pointer;
}
  

/* --------- Galería de imágenes -------------- */

.contenedor-slider {
    width: 320px;
    height: 180px;
    position: relative;
    display: block;
    margin: 50px auto;
}

.contenedor-slider p {
    color: #f3e635;
}

.img-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow:  1px 1px 8px rgb(255, 255, 255);
}

 .contenedor-slider a {
  text-decoration: none;
  color: #000;
}

 #btn-prev, #btn-next {
  width: 40px;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  color: #2e2e2e;
  text-shadow: none;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 10;
}

#btn-prev:hover, #btn-next:hover {
  background: rgba(255, 255, 255, 1);
}

#btn-prev {
  left: 20px;
}

#btn-next {
  right: -20px;
}

.texto-img {
  position: absolute;
  color: #fff;
  bottom: 0;
  padding: 0;
  margin: 0;
  background: rgba(51, 51, 51, 0.7);
  background-size: 10px;
}

 [id^= "item"] {
    display: none;
 }

 .img-1 {
    z-index: 2;
    opacity: 1;
    background: url('/imagenes/estudio-01.jpg');
    background-size: cover;
 }

 .img-2 {
    background: url('/imagenes/estudio-02.jpg');
    background-size: cover;
 }

 .img-3 {
    background: url('/imagenes/patricio-da-rocha-y-las-guitarras-criollas.jpg');
    background-size: cover;
 }

 .img-4 {
    background: url('/imagenes/duo-crespo-tasso.jpg');
    background-size: 320px 180px;
 }

*:target ~ .img-1 {
    opacity: 0;
}

#orden-1:target ~ .img-1 {
    opacity: 1;
}

#orden-2:target ~ .img-2, #orden-3:target ~ .img-3, #orden-4:target ~ .img-4 {
    z-index: 3;
    opacity: 1;
}

/* ------------------ Fin galería de imágenes --------------- -- */

/* ------------------ Formulario de Servicios ------------------ */
.formulario {
    width: 400px;
    margin: 0 auto;
    background-color: #264663;
    padding: 2em;
    border: 3px solid ;
    border-radius: 5px;
    text-align: center;
}

#montoAPagar {
    color: #f3e635;
}

textarea {
    width: 24em;
    height: 10em;
    
}

/* ------------------ Fin Formulario de Servicios ------------------  */

@keyframes mianimacion {
    0%, 40% {
        transform: rotate(0deg) ;
    }
    
    60%, 100%{
        transform: rotate(720deg);
    }
}

@media(min-width: 768px){
    /* .sociales{
        width: auto;
    } */
    .div-metodologia{
        flex-direction: row;
    }
}

@media(min-width: 640px){
    .cajas-imagenes p{
        font-size: 14px;
    }
    iframe {
        width: 560px;
        height: 315px;
    }
}

@media(min-width: 1024px){
    .contenedor {
        width: 1000px;
    }
   
}


